<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .alert {
            transition: min-height 0.5s;
        }
    </style>
    <title>less 1</title>
</head>
<body>
    <div class="wrapper">
        <div class="sample">
            <div class="col-md-6 px-3 py-3 pt-md-5 pb-md-4 mx-auto">
                <div class="alert" :style="[ properties, minHeight]">
                    Some text
                </div>
                <table class="table table-bordered">
                    <tr v-for="(value, name) in properties">
                        <td>{{ name }}</td>
                        <td>
                            <input type="text" v-model="properties[name]">
                        </td>
                    </tr>
                </table>
                <button class="btn btn-primary" @click="height += 10">
                    + Height
                </button>
                {{ minHeight }}
            </div>
        </div>
    </div>

    <script>
        let sample = new Vue({
            el: '.sample',
            data: {
                divClass: '',
                properties: {
                    color: 'white',
                    backgroundColor: 'green'
                },
                height: 0
            },
            computed: {
                minHeight(){
                    // return 'min-height: ' + this.height + 'px'
                    return { 
                        minHeight: this.height + 'px'
                    }
                }
            }
        });
    </script>
    
</body>
</html>