<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
	<style>
	    .content{
			height: 300px;
			overflow: auto;
		}
	</style>
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sample">
            <form @submit.prevent="formSubmited = true" v-if="!formSubmited">
        		<div class="content alert alert-info" @scroll="onScroll">
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
				</div>
				<div class="form-check" v-if="scrolled">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" v-model="flags.agree"> 
						I agree this test
					</label>
				</div>
				<div class="form-check" v-if="scrolled">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" v-model="flags.spam"> 
							Send me spam
						</label>
					</div>
		        <div class="form-check" v-if="flags.spam">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" value="email" v-model="spam"> 
						Semd me spam on email
					</label>
				</div>
				<div class="form-check" v-if="flags.spam">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" value="phone" v-model="spam"> 
							Semd me spam on phone
						</label>
					</div>
			    <hr>
				<button class="btn btn-primary" v-if="flags.agree">
					Send Data
				</button>
			</form>
			<div v-else>
				<table class="table table-bordered">
					<tr>
						<td>Agree</td>
						<td>{{flags.agree}}</td>
					</tr>
					<tr>
						<td>Spam</td>
						<td>{{ flags.spam }}</td>
					</tr>
					<tr v-if="flags.spam">
						<td>Send on</td>
						<td>{{ spam }}</td>
					</tr>
				</table>
			</div> 
		</div>
    </div>
	<script>
		
		new Vue({
			el: '.sample',
			data: {
				scrolled: false,
				formSubmited: false,
				flags: {
					agree: false,
					spam: false
				},
				spam: 'phone'
			},
			methods: {
				onScroll ({ target: { scrollTop, clientHeight, scrollHeight }}) {
					if (scrollTop + clientHeight >= scrollHeight) {
						this.scrolled = true;
					}
				}
			}
		});

	</script>
</body>
</html>