<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LESSON 4 COMPONENT</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- <link href="css/styles.css" rel="stylesheet"> -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div class="sample container">
        <button class="btn btn-primary" @click="ul = !ul">Toggle</button>
        <hr>
        <keep-alive>
            <app-ul :items="list" v-if="ul"></app-ul>
            <app-ol :items="list" v-else></app-ol>
        </keep-alive>
        <keep-alive>
            <component :is="listType" :items="list"></component>
        </keep-alive>
    </div>
</body>

<script>
    Vue.component('appUl', {
		props: {
            items: null
        },
		template: `
            <ul>
                <li v-for="item in items">
                    {{ item }}
                </li>
            </ul>
		`
	});
    Vue.component('appOl', {
		props: {
            items: null
        },
		template: `
            <ol>
                <li v-for="item in items">
                    {{ item }}
                </li>
            </ol>
		`
	});

	new Vue({
		el: '.sample',
        data: {
            list: [
                'Some',
                'Items',
                'Form',
                'List'
            ],
            ul: true
        },
        computed: {
            listType() {
                return this.ul ? 'appUl' : 'appOl'
            }
        }
	});

</script>